<h1>To Do LIST</h1>

<%= link_to 'Inserir Lista', new_list_path %>

<ul>
  <% if @lists.any? %>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
        <%= link_to 'Editar', edit_list_path(list) %> |
        <%= link_to 'Excluir', list_path(list), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir?' }, data: { turbo: false } %>

      </li>
    <% end %>
  <% else %>
    <p> A lista está vazia</p>
  <% end %>
</ul>
