html, body {
  height: 100%; 
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}
body {
  background: rgb(180, 165, 165);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Container principal do to do */
.container_main {
  background-image: url('/assets/papel.jpg'); 
  max-width: 600px; 
  max-height: 800px;
  margin-top: 40px;
  width: 400px;
  height: 500px;
  margin: 0 auto; 
  padding: 20px; 
  text-align: center; 
  border: 3px solid;
  
}

/* CSS do button*/
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ===========  Cabeçalho =========== */
.header {
  border: 2px solid;
}