.container {
  background: #27a787;
  max-width: 600px; 
  max-height: 800px;
  margin-top: 40px;
  width: 300px;
  height: 450px;
  margin: 0 auto; 
  padding: 20px; 
  text-align: center; 
  border: 3px solid;
  border-radius: 5px;
  background-size: cover;
  position: relative;
  box-shadow: 10px 15px;
  font-family: "Londrina Solid", sans-serif;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field{
  margin: 10px;
}

.custom-input{
  border-radius: 5px;
  width: 200px;
  height: 20px;
}

.custom-button {
  height: 30px;
  max-width: 250px; 
  border-radius: 5px;
}

.custom-button:hover {
  background: rgb(214, 194, 194);
}
#error_messages_container {
  background-color: #f8d7da; 
  color: #721c24;            
  border: 1px solid #f5c6cb; 
  padding: 15px;              
  margin-bottom: 20px;        
  border-radius: 5px;         
  font-size: 14px;            

  position: absolute;         
  left: 50%;                  
  transform: translateX(-50%); 
  z-index: 1000;              
  width: 80%;                 
  max-width: 500px;           
  text-align: center;         

  /* Animação para desaparecer após 3 segundos */
  animation: fadeOut 2s ease 2s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }    /* Elemento visível */
  100% { opacity: 0; }  /* Fica invisível no final da animação */
}

#error_messages_container h2 {
  margin-top: 0;
  font-size: 18px;
  color: #721c24;
}

#error_messages_container li {
  color: black;
}
